@import url('../variables.css');

.header {
    padding-top: 30px;
}

.header-container {
    max-width: calc(100% - 100px);
    display: flex;
    justify-content: end;
}

nav {
    width: 225px;
}

.nav-items {
    max-width: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-link {
    color: #000000;
    font-weight: var(--fWeightMedium);
    font-size: var(--fSizeLarge);
    line-height: var(--lHeightMedium);
}

.burger-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    cursor: pointer;
    z-index: 3;
}

.line {
    background-color: var(--blackColor);
    width: 25px;
    height: 2px;
    transition: .3s;
}

.mobile-menu {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--whiteColor);
    min-height: 100vh;
    overflow: scroll;
    z-index: 2;
}